# Database Connection
# If you prefer a single URL (overrides individual params)
# DATABASE_URL="postgresql://postgres:password@localhost:5432/travel_portal"

# Individual Parameters
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="postgres"
DB_PASSWORD="password"
DB_NAME="travel_portal"

# Auth Secrets (Generate using `openssl rand -base64 32`)
NEXTAUTH_SECRET=""

# AWS S3 (Production Only)
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET_NAME=""
