.shell {
    display: flex;
    min-height: 100vh;
    background-color: var(--color-background);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 280px;
    /* Match Sidebar Width */
    width: calc(100% - 280px);
}

.content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}